<div class="modal-profile">
    <div class="cover-photo">
        <img src="https://media.licdn.com/dms/image/v2/D4D16AQHZw2jouL3qcA/profile-displaybackgroundimage-shrink_350_1400/profile-displaybackgroundimage-shrink_350_1400/0/1725293524116?e=1738195200&v=beta&t=WXVLV8_K7o1qpu1uaiTEsMgHfry0LvZM6N1Zwk_hpEw"
            alt="Portada">
    </div>

    <div class="profile-photo-container">
        <img class="profile-photo"
            src="https://media.licdn.com/dms/image/v2/D4D03AQFUTlipWhnb3g/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1701721323076?e=1738195200&v=beta&t=bK4Gd2y7mrr_zKA5Uo2kkxu1cVPsKsFE3GLDusPd4SY"
            alt="Foto Perfil">
    </div>

    <div class="info-container">
        <h2><strong>Mateo Spatola</strong></h2>
        <p>Estudiante de programación y sistemas en la Universidad Tecnológica Nacional (UTN FRA).</p>
    </div>
</div>