<div>

    <button (click)="seleccionarTipoUsuario('Especialista')">
        Especialista
    </button>
    <button (click)="seleccionarTipoUsuario('Paciente')">
        Paciente
    </button>
    <button (click)="seleccionarTipoUsuario('Administrador')">
        Administrador
    </button>

    @if(tipoUsuarioSeleccionado === 'Especialista') {
        <app-form-registro [tipoUsuario]="'Especialista'"></app-form-registro>
    }
    @if(tipoUsuarioSeleccionado === 'Paciente') {
        <app-form-registro [tipoUsuario]="'Paciente'"></app-form-registro>
    }
    @if(tipoUsuarioSeleccionado === 'Administrador') {
        <app-form-registro [tipoUsuario]="'Administrador'"></app-form-registro>
    }

</div>
