<div class="container py-4 text-center">
  <h2 class="text-center bg-dark text-light fw-bold fs-2 m-0 p-2">Listado de usuarios</h2>

  <table class="table table-hover table-bordered">
      <thead class="table-dark">
          <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Tipo</th>
            <th>Habilitado</th>
            <th>Acciones</th>
          </tr>
      </thead>
      <tbody class="table-light">
          @if(usuarios.length > 0) {
              @for(usuario of usuarios; track $index) {
                  <tr>
                    <td>{{usuario.dni}}</td>
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.apellido}}</td>
                    <td>{{usuario.tipo}}</td>
                    <td>
                      @if(usuario.tipo == 'Especialista') {
                        <div class="form-check form-switch d-flex justify-content-center">
                          <input class="form-check-input" type="checkbox" [checked]="usuario.habilitado" (change)="switchHabilitado(usuario, $event)">
                        </div>
                      }
                      @else {
                        <i class="bi bi-check-circle"></i>
                      }
                    </td>
                    <td class="text-center">
                      <button type="button" class="btn btn-link" data-bs-toggle="modal" [attr.data-bs-target]="'#modal' + usuario.correo">
                        <i class="bi bi-eye text-dark"></i>
                      </button>
                    </td>
                  </tr>
              }
          }
          @else {
              <tr>
                  <td colspan="6" class="text-center"><strong>Cargando...</strong></td>
              </tr>
          }
      </tbody>
  </table>

  <button type="submit" class="p-3 btn btn-dark w-100 shadow" routerLink="/registro">
    <i class="bi bi-person-plus me-2"></i>
    Registrar nuevo usuario
  </button>


  <!-- Modal de Bootstrap -->
  @for(usuario of usuarios; track $index) {
    <div [id]="'modal' + usuario.correo" class="modal fade" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Información de {{usuario.nombre}} {{usuario.apellido}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
          </div>
          <div class="modal-body">
            <p><strong>Tipo:</strong> {{usuario.tipo}}</p>
            <p><strong>Nombre:</strong> {{usuario.nombre}}</p>
            <p><strong>Apellido:</strong> {{usuario.apellido}}</p>
            <p><strong>Edad:</strong> {{usuario.edad}}</p>
            <p><strong>DNI:</strong> {{usuario.dni}}</p>
            @if(usuario.especialidades) {
              <p><strong>Especialidades:</strong> {{usuario.especialidades}}</p>
            }
            @if(usuario.obraSocial) {
              <p><strong>Obra Social:</strong> {{usuario.obraSocial}}</p>
            }
            <p><strong>Correo:</strong> {{usuario.correo}}</p>
            <p><strong>Imagen Perfil:</strong> <img [src]="usuario.imagenPerfil" class="ms-2" height="100px"></p>
            @if(usuario.imagenPortada) {
              <p><strong>Imagen Portada:</strong> <img [src]="usuario.imagenPortada" class="ms-2" height="100px"></p>
            }
          </div>
        </div>
      </div>
    </div>

  }
  


</div>
