<div class="container py-4 text-center">
    <h2 class="text-center bg-dark text-light fw-bold fs-2 m-0 p-2">Log de ingresos al sistema</h2>

    <table class="table table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Tipo</th>
                <th>Usuario</th>
                <th>Fecha de ingreso</th>
            </tr>
        </thead>
        <tbody class="table-light">
            @if(logIngresos.length > 0) {
            @for(log of logIngresos; track $index) {
            <tr>
                <td>{{log.tipoUsuario}}</td>
                <td>{{log.nombreCompletoUsuario}}</td>
                <td>{{log.fechaIngreso | date: 'dd/MM/yyyy - hh:mm a' }}</td>
            </tr>
            }
            }
            @else {
            <tr>
                <td colspan="6" class="text-center"><strong>No se encontraron registros</strong></td>
            </tr>
            }
        </tbody>
    </table>

    <button class="p-3 btn btn-info w-100 shadow mb-3" (click)="descargarExcelLogIngresos()">
        <i class="bi bi-download me-2"></i>
        Descargar log de ingresos al sistema (*excel)
    </button>



</div>