<section>
    <div>
        <h1>Iniciar sesión</h1>
        <form [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()">
            
            <!-- Correo -->
            <div>
                <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker>
                    <mat-icon matPrefix>email</mat-icon>
                    <mat-label>Correo</mat-label>
                    <input matInput type="email" [formControl]="form.controls.correo" placeholder="Ingrese su correo">
                    @if (form.controls.correo.hasError('required')) {
                        <mat-error>El correo es <strong>requerido</strong></mat-error>
                    }
                    @if (form.controls.correo.hasError('email')) {
                        <mat-error >Ingrese un correo <strong>válido</strong></mat-error>
                    }
                </mat-form-field>
            </div>

            <!-- Contraseña -->
            <div>
                <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker>
                    <mat-icon matPrefix>password</mat-icon>
                    <mat-label>Contraseña</mat-label>
                    <input matInput [formControl]="form.controls.clave" placeholder="Ingrese su contraseña" [type]="mostrarClave ? 'text' : 'password'" >
                    <mat-icon matSuffix (click)="cambiarVisibilidadClave()">{{mostrarClave ? 'visibility_off' : 'visibility'}}</mat-icon>
                    @if (form.controls.clave) {
                        <mat-error>La contraseña es <strong>requerida</strong></mat-error>
                    }
                </mat-form-field>
                <small><a routerLink="/recuperar">Olvidé mi contraseña</a></small>
            </div>

            <!-- Botón de Ingreso -->
            <div>
                <button mat-fab extended type="submit">
                    <mat-icon>login</mat-icon>
                    Ingresar
                </button>
            </div>

            <!-- Registro -->
            <div>
                <span>¿Necesitas una cuenta? </span>
                <a routerLink="/registro">Registrarse</a>
            </div>
        </form>
    </div>

    <!-- Botones de acceso rápido -->
    <div class="quick-access">
        <button mat-raised-button (click)="inicioRapido('administrador@mail.com', 'administrador')">
            <mat-icon>how_to_reg</mat-icon>
            Administrador
        </button>
        <button mat-raised-button (click)="inicioRapido('especialista@mail.com', 'especialista')">
            <mat-icon>how_to_reg</mat-icon>
            Especialista
        </button>
        <button mat-raised-button (click)="inicioRapido('paciente@mail.com', 'paciente')">
            <mat-icon>how_to_reg</mat-icon>
            Paciente
        </button>
    </div>
</section>