
mat-form-field {
    width: 100%;
    padding-bottom: 1rem;
}

.imagenPerfil, .imagenPortada {
    position: relative;
    width: 100%;
    padding-bottom: 2rem;
}

.imagenPerfil mat-error, .imagenPortada mat-error {
    font-size: 12px;
    margin-left: 15px;
}

.recaptcha mat-error {
    font-size: 12px;
}

.inputFile {
    display: none;
}

.titleFile {
    position: absolute;
    left: 22px;
    top: -8.5px;
    font-size: 12.5px;
    color: #44474E;
    transition: 0.2s ease all;
    
    padding-left: 4px;
    padding-right: 4px;
    background-color: white;
}

.labelFile {
    height: 56px;
    display: flex;
    align-items: center;
    border: 2px dashed #b1b1b1;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    color: #404040;
    transition: border-color 0.3s ease;
}

.labelFile:hover {
    border-color: #1d1d1d;
}

.iconFile {
    font-size: 24px;
    margin-right: 15px;
}

.file-text {
    font-size: 16px;
    color: #404040;
    text-align: center;
}

a {
    text-decoration: none;
}

